<!DOCTYPE html>
<html lang="en">

<head>

 <head charset="utf-8">
  <title>View</title>
 </head>

<body>
 <h1>View Page</h1>
 <p>This is the view page</p>
 <p>Your id is <%=id%>
 </p>
</body>

</head>

</html>